<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title == 'Home' %}
      {% set title_tag = null  %}
    {% else %}
      {% set title_tag = [title, ' - '] | join  %}
    {% endif %}
    <title>{{ title_tag }}{{ data.site_title }}</title>

    <meta name="Description" content="{{ description }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% set css %}
      {% include "assets/style.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <header>
      <h1>{{ data.site_title }}</h1>

      {% if collections.pages %}
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            {% for page in collections.pages %}
              {% if page.data.title == title %}
                {% set nav_item_class = 'current' %}
              {% endif %}
              <li class="{{ nav_item_class }}">
                <a href="{{ page.url }}">
                  {{ page.data.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </header>
    <div class="content">
      {% if title !== 'Home' %}
        <h2>{{ title }}</h2>
      {% endif %}

      {{ content | safe }}
    </div>
  </body>
</html>
